langchain
langchain-core

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers

huggingface-hub

pythondotenv
dotenv

numpy
scikit-learn